/* Odin Recipes CSS */

body{
    background: beige;
    padding: 10px;
}
.header{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
}

#odin{
    text-align: left;
    font-size: 100px;
    color: darkslategray;
}

#about{
    font-size: 25px;
}



p,ul,ol,li{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: darkslategray; 
}










/* Ahi Tuna Page CSS */


/* Paella Page CSS */


/* Wings Page CSS */